<!DOCTYPE html>
<html ng-app="myApp">
<head>
    
    <title>People List</title>
   
   
    <!--<script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
   
    <link href="Content/bootstrap.min.css" rel="stylesheet" />


   
  
    <meta charset="utf-8" />
</head>
<body ng-controller="personController">
    <div class="panel">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-8">
                    <input  class="form-control" ng-model="text" placeholder="Enter text to filter persons"/>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Age</th>
                <th>City</th>
                <th><select class="form-control" ng-model="currentPhoneType" ng-options="type.title for type in phoneTypeOptions">Phone number</select></th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in persons">
                <td>{{person.lastName}}</td>
                <td>{{person.firstName}}</td>
                <td>{{person.age}}</td>
                <td>{{person.address.city}}</td>
                <td>{{person.phoneNumber[currentPhoneType.id].number}}</td>
                <td>
                    <button type="button" ng-click="removePerson(person)">Delete</button>
                    <button data-toggle="modal" data-target="#myModal" class="btn-default" ng-click="showEditPersonForm(person)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table> 

   
    <button class="btn-primary" ng-click="showCreatePersonForm()">Add new person</button>



    
    
   
 <div id="myPop">
     <!-- Modal -->
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                 </div>
                 <div class="modal-body">
                     <form class="form-horizontal">
                         <label>
                             First Name
                         </label>
                         <input type="text" ng-model="currentFirstName" />
                     </form>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Save changes</button>
                 </div>
             </div>
         </div>
     </div>
 </div>
    

    <script src="Scripts/angular-strap.min.js"></script>
    <script src="Scripts/angular-strap.tpl.min.js"></script>

    <script src="Scripts/jquery-1.9.0.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="main.js"></script>
</body>
</html>

