
@model IEnumerable<TryCore.Model.Category>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Магазин смартфонов</title>
</head>
<body>
    <h3>Смартфоны</h3>
    <table>
        <tr>
            <td>Name of cat</td>
         
            <td></td>
        </tr>
        @foreach (var cat in Model)
            {
            <tr>
                <td>@cat.Name</td>
             
                <td><a href="~/Home/Buy/@cat.ID">Купить</a></td>
            </tr>
        }
    </table>
</body>
</html>